<!DOCTYPE html>
<html>
<head>
  <title>Index Page</title>
  <%= headerCss %>
  <%= headerJs %>
</head>
<body>
  <h1>Welcome to the index page.</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, fuga doloremque illo esse, nihil quod voluptates corrupti iusto autem sed a debitis laborum! Nihil iure in quos asperiores beatae hic!
  </p>
  <div scripts>
    <%- footerJs %>
  </div>
</body>
</html>
